.loginForm {
  display: inline-block;
  padding: 20px 20px 20px 20px;
  background-color: lightgray;
  border-radius: 10px;
}

.loginError {
  color: red;
}

.loginFormContainer {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

