.recipe {
  text-align: center;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(221, 221, 221);
  border-image: initial;
  display: inline-block;
  width: 300px;
}

.recipe > .top {
  border-bottom: 2px solid rgb(221, 221, 221);
  padding: 40px 0px 40px 0px;
}

.recipe > .bottom {
  padding: 40px 0px 40px 0px;
}

.recipe h2 {
  margin: 0px 0px 10px 0px;
}

.recipe h3 {
  font-size: 18px;
}

.recipe .top .price {
  font-size: 34px;
  font-weight: bold;
  color: rgb(22, 160, 133);
}
